{% extends 'base.html' %}
{% from 'paginator.html' import paginator_buttons %}

{% block container %}
    <div>
        <h1>All Products</h1>
    </div>

    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-striped">
            <thead><tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Value</th>
            </tr></thead>

            <tbody>
                {% for item in pagination.items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.amount }}</td>
                        <td>{{ item.value }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center">Empty set.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {{ paginator_buttons(pagination) }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <style type="text/css">
        @-moz-document url-prefix() {
          fieldset { display: table-cell; }
        }
    </style>
{% endblock %}