{% extends 'bootstrap/base.html' %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block title %}IMP_Flask{%- block append_title %}{% endblock %}{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="shortcut icon" href="/static/favicon.ico?" />
    <link rel="stylesheet" href="/static/custombootstrap.min.css">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' with context %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type='text/javascript'>
        $("[data-toggle=popover]").popover();
        var csrftoken = "{{ csrf_token() }}";

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
    </script>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
    {% block container %}
    {% endblock %}
</div>
{% endblock %}
