{% from 'flash.html' import modal_alert, well_alert_navbar, well_alert %}

<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">IMP_Flask</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('imp_flask.products.index') }}">Products</a></li>
                <li><a href="{{ url_for('imp_flask.relations.index') }}">Relations</a></li>
                <li><a href="{{ url_for('imp_flask.transactions.index') }}">Transactions</a></li>
                <li><a href="{{ url_for('imp_flask.mods.index') }}">Mods</a></li>
{#


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/dne">HTTP 404 Page</a></li>
                        <li><a href="{{ url_for('examples.exception.index') }}">HTTP 500 Page</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('examples.alerts.index') }}">Alerts Dashboard</a></li>
                    </ul>
                </li>
                #}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="display:inline-block; color: white;">{% include 'login.html' %}</li>
            </ul>
        </div>

    </div>
</div>
