{% extends 'base.html' %}

{% block container %}
<div class="col-md-8">
    <blockquote class="blockquote-reverse">
  <p>To give real service you must add something which cannot be bought or measured with money, and that is sincerity and integrity.</p>
  <small><cite title="Source Title">Douglas Adams</cite></small>
</blockquote>
</div>
<div class="col-md-4">
    <form class="form-signin" action="{{ url_for('home.index.login') }}{% if 'next' in request.args %}?next={{ request.args.get('next') }}{% endif %}" method="POST">
        <h2 class="form-signin-heading">Login</h2>
        <input id="_csrf_token" name="_csrf_token" type="hidden" value="{{ csrf_token() }}" />
        <input id="username" name="username" type="text" class="form-control" placeholder="Username" />
        <input id="password" name="password" type="password" class="form-control" placeholder="Password" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
